In [8]:
#from google.colab import drive
#drive.mount('/content/drive') #allows upload from google drive
import numpy as np
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Python /Colab Notebooks/Statistical Learning/DATA/happiness.csv") #path location from drive
df.head()

,id,marital,age,degree,sex,happiness,health,finrela
0,1,Divorced,53,Bachelor,Male,Very happy,Excellent,Above average
1,2,Married,26,Bachelor,Female,Very happy,Excellent,Above average
2,3,Divorced,59,High school,Male,Not too happy,Good,Below average
3,4,Married,56,Bachelor,Female,Very happy,Not applicable,Above average
4,5,Married,74,Bachelor,Female,Very happy,Excellent,Average

In [2]:
df['happiness'].value_counts()

Pretty happy     1403
Very happy        786
Not too happy     341
Don't know          6
No answer           2
Name: happiness, dtype: int64

In [3]:
# remove don't know and no answer
# Use boolean indexing to select only the rows where the category is not 'No Answer' or 'Don't Know'
#df = df.dropna(subset=['happiness']) #drop Nan values first
df=df.dropna()
df = df[~df.isin(["No answer","Don't know"]).any(axis=1)]
#df = df[~df[['happiness','finrela']].isin(['No answer', "Don't know"])]

# Happiness is three levels, needs to be two
#  binary = 0 if happiness level = "not too happy"
#  binary = 1 if happiness level = "pretty happy" or "very happy"
df['happiness'] = df['happiness'].apply(lambda x: 0 if x == 'Not too happy' else 1)
df['happiness'].value_counts()

1    2159
0     332
Name: happiness, dtype: int64

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [5]:
df2=df

In [6]:
df2 = pd.get_dummies(df2, columns=['finrela'], prefix='finrela') #one hot encoding for categorical
df2 = df2[df2['age'].apply(lambda x: x.isdigit() if isinstance(x, str) else True)] #if age has anything other than int, it removes it

In [7]:
X = df2[['age','finrela_Above average','finrela_Average','finrela_Below average','finrela_Far above average','finrela_Far below average']]
y = df2['happiness']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Fit the logistic regression model
clf = LogisticRegression()
clf.fit(X_train, y_train)

# Predict the happiness values for the testing set
y_pred = clf.predict(X_test)

# Print the prediction accuracy
accuracy = clf.score(X_test, y_test)
print("Accuracy (two predictors):", accuracy)

Accuracy (two predictors): 0.8747474747474747