In [ ]:
#from google.colab import files
#uploaded = files.upload()     # these allow to upload files from your local computer

#from google.colab import drive
#drive.mount('/content/drive') #allows upload from google drive


import numpy as np
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Python /Colab Notebooks/Statistical Learning/DATA/usCountyCorona.csv") #path location from drive

,date,county,state,fips,cases,deaths,population,cases_per_1000,deaths_per_1000,mandate
0,2021-02-03,Autauga,Alabama,1001,5753,71,54571,105.42,1.30,yes
1,2021-02-03,Baldwin,Alabama,1003,18418,228,182265,101.05,1.25,yes
2,2021-02-03,Barbour,Alabama,1005,1981,42,27457,72.15,1.53,yes
3,2021-02-03,Bibb,Alabama,1007,2321,52,22915,101.29,2.27,yes
4,2021-02-03,Blount,Alabama,1009,5768,105,57322,100.62,1.83,yes
...,...,...,...,...,...,...,...,...,...,...
3129,2021-02-03,Sweetwater,Wyoming,56037,3519,33,43806,80.33,0.75,yes
3130,2021-02-03,Teton,Wyoming,56039,3161,7,21294,148.45,0.33,yes
3131,2021-02-03,Uinta,Wyoming,56041,1981,12,21118,93.81,0.57,yes
3132,2021-02-03,Washakie,Wyoming,56043,868,26,8533,101.72,3.05,yes
3133,2021-02-03,Weston,Wyoming,56045,612,4,7208,84.91,0.55,yes

In [ ]:



# Split the data into features and target
X = df[["sqft","lot"]] #we use sqft, and lot to predict the price
y = df["price"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the KNN Regression model
knn = KNeighborsRegressor(n_neighbors=7)
knn.fit(X_train, y_train)

# Predict on the test set
y_pred = knn.predict(X_test)

# Evaluate the model performance
print("R2 score:", knn.score(X_test, y_test))

R2 score: 0.4957539747480767

In [ ]:
#find the best k

from sklearn.model_selection import GridSearchCV


# Define the KNN regressor
knn = KNeighborsRegressor()

# Define the hyperparameter search space
param_grid = {'n_neighbors': range(1, 30)}

# Create the grid search object
grid = GridSearchCV(knn, param_grid, cv=5)

# Fit the grid search to the data
grid.fit(X, y)

# Get the best value of k
best_k = grid.best_params_['n_neighbors']

6

In [ ]:
#FInd RMSE
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print("RMSE:", rmse)

RMSE: 121585.53248613435

# Do it Manually

In [ ]:
import numpy as np
from math import sqrt

class KNNRegressor:
  def __init__(self, k=5):
    self.k = k
    
  def fit(self, X, y):
    self.X_train = X
    self.y_train = y
    
  def predict(self, X_test):
    y_pred = []
    for x in X_test:
      distances = [sqrt(np.sum((x - x_train)**2)) for x_train in self.X_train]
      k_neighbors = np.argsort(distances)[:self.k]
      k_neighbors_labels = [self.y_train[i] for i in k_neighbors]
      y_pred.append(np.mean(k_neighbors_labels))
    return y_pred

KNN CLASSIFIER

In [ ]:
!ls "/content/drive"
df2 = pd.read_csv("/content/drive/MyDrive/Python /Colab Notebooks/Statistical Learning/DATA/usCountyCorona.csv")
from sklearn.neighbors import KNeighborsClassifier
df2.head()

MyDrive

,date,county,state,fips,cases,deaths,population,cases_per_1000,deaths_per_1000,mandate
0,2021-02-03,Autauga,Alabama,1001,5753,71,54571,105.42,1.30,yes
1,2021-02-03,Baldwin,Alabama,1003,18418,228,182265,101.05,1.25,yes
2,2021-02-03,Barbour,Alabama,1005,1981,42,27457,72.15,1.53,yes
3,2021-02-03,Bibb,Alabama,1007,2321,52,22915,101.29,2.27,yes
4,2021-02-03,Blount,Alabama,1009,5768,105,57322,100.62,1.83,yes

In [ ]:
# Split the data into features and target
x2 = df[["cases_per_1000","deaths_per_1000"]] #we use sqft, and lot to predict the price
y2 = df["mandate"]

In [ ]:
from sklearn.preprocessing import StandardScaler #to standarize

x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.2)
scaler = StandardScaler()
x2_train = scaler.fit_transform(x2_train)
x2_test = scaler.transform(x2_test)

array([[ 0.77322689,  1.07001202],
       [ 1.63345711,  0.19148054],
       [-0.44860304, -0.32352067],
       ...,
       [ 1.54457227,  0.34295149],
       [-0.63478986, -0.67695287],
       [ 1.23684216, -0.87891413]])

In [ ]:

# Initialize the KNN classifier
knn = KNeighborsClassifier(n_neighbors=5)

# Fit the model to the training data
knn.fit(x2_train, y2_train)

# Predict the classes of the test data
y2_pred = knn.predict(x2_test)

# Evaluate the accuracy of the model
accuracy = np.mean(y2_pred == y2_test)
print("Accuracy: ", accuracy)

Accuracy:  0.6730462519936204

In [ ]:
from sklearn.metrics import accuracy_score
accuracies = []
for k in range(1, 30):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(x2_train, y2_train)
    y2_pred = knn.predict(x2_test)
    accuracy = accuracy_score(y2_test, y2_pred) 
    accuracies.append(accuracy)

# Find the value of k that gives the highest accuracy
best_k = np.argmax(accuracies) + 1
print("Best value for k: ", best_k)

Best value for k:  28